<ion-header>
  <ion-toolbar>
    <ion-title >
        <div padding="true" class="manual-ios-statusbar-padding">
            <img src="../../assets/images/BRDQuEoTxWoQhZeiSZn8_soslogo.png" style="display: block; width: 15%; height: auto; margin-left: auto; margin-right: auto;">
          
        <h4 id="home-heading3" style="color:#0E3F85;text-align:center;">How are you feeling today?</h4>
      </div> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-content>
          <img src="../../assets/images/thUqqavBT6uubKWyKGHX_1864648.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">

          <ion-list>    
              <ion-item>
                  <ion-range min="0" max="100" step="5" snaps="true" color="primary" (ionChange)="changeRange($event)"></ion-range>
                </ion-item>
              </ion-list>

         
             
<ion-card-content>
    <canvas #barChart></canvas>
  </ion-card-content>

  <ion-card-content>
      <canvas #lineChart></canvas>
    </ion-card-content>


      {{event}}
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
        <ion-fab-button (click)="callNow('116123')">
          <ion-icon name="call"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
